// .gridview-custom tr {
//     display: flex;
// }

.gridview-custom tr td i {
  background: #a94442;

}


.masonary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.masonary-grid > .masonary-grid-listview-summary {
  grid-column: 1 / -1;
}

.masonary-grid > .masonary-grid-listview-pager {
  grid-column: 1 / -1;
}

.masonary-grid > .masonary-grid-item {
}